<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/preloader.ejs', {now: 'team'}) %>
    <%- themeConfig?.customHtml %>
    <style>
        .center-content {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
        }
    </style>
</head>

<body class="g-sidenav-show bg-gray-100" id="scroll">
<%- include('partials/preload.ejs') %>
<%- include('partials/sidebar.ejs', {config: config, now:'team'}) %>
<div class="main-content position-relative bg-gray-100 max-height-vh-100 h-100">
    <!-- Navbar -->
    <%- include('partials/navbar.ejs', {now:'team'}) %>
    <!-- End Navbar -->
    <div class="container-fluid py-4" style="padding-bottom: 0px !important;">
        <div id="discordRocket" style="display: none;">
            <div id="rocketDiscord"
                 style="position: absolute; margin: 0; top: 50%; left: 50%; -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%); z-index: 420;">
                <i class="fab fa-discord fa-10x" aria-hidden="true"></i>
            </div>
            <p style="font-size: 150%; position: absolute; margin: 0; top: 50%; left: 50%; transform: translate(-50%, -50%);">
                Taking you to <b>discord.gg</b></p>
        </div>
        <section class="py-sm-7 py-5 position-relative center-content" id="mainSection" style="padding-top: 0px !important;">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center mb-5">
                        <h1 class="text-gradient text-primary">Meet Our Team</h1>
                        <p class="lead">Get to know the amazing team behind our product.</p>
                    </div>
                </div>
                <div class="row justify-content-center mt-4">
                    <div class="col-md-6 col-lg-4 d-flex justify-content-center mb-4">
                        <div class="card" style="width: 320px; height: 550px; text-align: center;">
                            <div class="p-3">
                                <img class="img border-radius-100 max-width-200 w-100 position-relative z-index-2"
                                     src="https://avatars.githubusercontent.com/u/171569440"
                                     style="width: 200px; height: 200px;"
                                     alt="Plain">
                            </div>
                            <hr>
                            <div>
                                <div class="p-3 text-center" style="text-align: left !important; padding-top: 0 !important;">
                                    <h2 class="text-gradient text-primary">Danny</h2>
                                    <h5 class="mt-1" style="margin-bottom: 0;">Lead Developer/Founder</h5>
                                    <p>Gotta give'em a little 'x-ample' right...?</p>
                                    <div style="position: absolute; bottom: 15px;">
                                        <a class="text-body text-bg font-weight-bold mb-0 icon-move-right"
                                           href="https://github.com/x-ampledevelopment">
                                            Danny's Github
                                            <i class="fas fa-arrow-right text-sm ms-1" aria-hidden="true"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
        </section>
        <%
        const images = ["curved-1", "curved-2", "curved-3", "curved-4", "curved-5", "curved-6", "curved-7", "curved-8", "curved-9", "curved-10", "curved-11", "curved-12", "curved-13", "curved-14", "curved-15", "curved-16", "curved-17", "curved-18"];
        const image = images[Math.floor(Math.random() * images.length)];
        %>
    </div>
</div>
<script>
    let disableFunc = false;
    var win;

    function supportServer() {
        if (disableFunc) return;
        disableFunc = true;
        $('#discordButton').parent().css('overflow', 'hidden');
        $('#discordButton').animate({'margin-top': '-=50px'});
        $('#discordButton').animate({'margin-top': '+=500px', opacity: 0}, function () {
            $(this).hide();
        });
        $("#discordRocket").fadeIn();
        setTimeout(function () {
            $('#rocketDiscord').animate({'margin-top': '+=600px'}, 1);
            $("#mainSection").fadeOut();
            $("#main2").fadeOut();
            $("#getHelp").fadeOut();
        }, 1000)
        setTimeout(function () {
            setTimeout(function () {
                $('#rocketDiscord').animate({'margin-top': '+=75px'});
                $('#rocketDiscord').animate({'margin-top': '-=1000px'}, 1500);
                setTimeout(function () {
                    window.open('https://discord.gg/xampledev', '_blank', 'location=yes,height=1200,width=800');
                    $("#rocketDiscord").fadeOut();
                    $("#discordRocket").fadeOut();
                    setTimeout(function () {
                        disableFunc = false;
                        location.reload();
                    }, 3500)
                }, 1200)
            }, 1500)
        }, 2000);
    }
</script>

<%- include('partials/scripts.ejs', {now: "team"}) %>
</body>

</html>
